.shop-filter-header {
  width: 100%;
  background-color: #fff;
  .shop-filter-container {
    display: flex;
    font-size: 0.625rem;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }

    .shop-acs {
      option {
        font-size: 0.625rem;
      }
      select {
        font-size: 0.625rem;
      }
    }

    @include media-breakpoint-up(lg) {
      button span {
        font-size: 0.75rem;
      }

      .shop-acs {
        option {
          font-size: 0.75rem;
        }
        select {
          font-size: 0.75rem;
        }
      }
    }
  }
}

.shop-main {
  margin-top: 80px;

  @include media-breakpoint-up(lg) {
    margin-top: 100px;
  }
}

.shop-list {
  top: 12px;
}
